{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Job
{% endblock title %}



{% block content %}
    <h1>Job</h1>

    <h2>Name: {{job.name}}</h2>
    <h3>Employer: {{ job.employer.first_name|safe|capfirst }} {{ job.employer.last_name|safe|capfirst }}</h3>
    <h3>Workers: {% for person in job.workers.all %}
        <p class='card-text'>{{ person.first_name|safe|capfirst }} {{ person.last_name|safe|capfirst }}</p>
      {% empty %}
        <p class='card-text'>No Workers</p>
      {% endfor %}</h3>
    <h3>Pay ${{ job.pay }}</h3>
    <h3>Minutes {{ job.minutes }}</h3>
    <h3>Availability {{ job.get_availability_display }}</h3>
    <h3>Description: {{ job.description|safe }} </h3>

    {% for comment in job.comments.all %}
      <br>
      <p>Author {{ comment.commenter.first_name|safe|capfirst }} {{ comment.commenter.last_name|safe|capfirst }}</p>
      <p>{{ comment.comment|safe }}</p>
      <p>Posted on {{ comment.time }}</p>
    {% empty %}
    No Comments
    {% endfor %}
    <br>
    Write a comment
    <form action="" method="post"><input type='hidden'/>
      {%csrf_token %}

      {% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}

    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback" style="color: rgb(235, 0, 0); font-size: smaller;">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control" %}
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
{% endfor %}

    <div class="form-group">
      <button type="submit" class="btn btn-default ">
        Post
      </button>

        </div>

      </form>
    <br>
    <br>
    <a class="button" href="{% url 'join_job' job.id %}">Join</a>
    <a class="button" href="{% url 'leave_job' job.id %}">Leave</a>
    <a class="button" href="{% url 'pay_job' job.id %}">Pay Workers</a>
{% endblock content %}

